
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #dedede;
}

h1 {
  color: #404040;
  text-align: center;
}

table {
  font-size: 24px;
  color: #636363;
  width: 100%;
  border-spacing: 0 1em;
}

p {
  font-family: Arial;
  font-size: 12px;
}

#idDollar {
  font-weight: bold;
}

.inputBox {
  font-size: 24px;
  width: 100%;
  background-color: #dedede;
  color:#404040;
  border: 0;
  text-align: center;
}

.inputBox:focus {
  outline: none;
}

.resultHeader {
  font-weight: bold;
  text-align: center;
}

.resultValue {
  padding-right: 10%;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 5px;
}

.row {
  grid-column: 2;
  /* border: 1px solid white; */
  border-radius: 1%;
  margin-top: 20%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
  padding-top: 5%;
  background-color: #e3e3e3;
  box-shadow: 0px 0px 20px 0px grey;
}

.row2 {
  grid-column: 2;
  /* border: 1px solid white; */
  border-radius: 1%;
  margin-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
  padding-top: 5%;
  background-color: #e3e3e3;
  box-shadow: 0px 0px 20px 0px grey;
}

.form__input {
  /* Box Model */
  display: block;
  margin-top: 10px;
  padding: 10px;
  border: 0;
  border-radius: 3px;

  /* Typography */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}


.form__input--button {
  /* Box Model */
  width: 250px;

  /* Visual */
  background-color:#96d9ff;
  color: #248dc9;

  cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

/* Firefox */
input[type=number] {
-moz-appearance: textfield;
}