<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MTGA Currency Converter</title>

  <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>

  

  <div class="container">
    <div class="row">

      <h1>MTG Arena Currency Converter</h1>
      <table style="width: 100%">
        <colgroup>
          <col span="1" style="width: 50%;">
          <col span="1" style="width: 45%;">
          <col span="1" style="width: 5%;">
        </colgroup>
        <tbody>
          <tr>
            <td class="resultHeader">Gems</td>
            <td class="resultValue">
              <input type="text" class="inputBox" id="inputGem" autofocus>
            </td>
            <td>
              <img src="/static/img/gems.png" width="30px" height="30px">
            </td>
          </tr>
          <tr>
            <td class="resultHeader">Gold</td>
            <td class="resultValue">
              <input type="text" class="inputBox" id="inputGold">
            </td>
            <td>
              <img src="/static/img/gold.png" width="30px" height="30px">
            </td>
          </tr>
          <tr>
            <td class="resultHeader">Packs</td>
            <td class="resultValue">
              <input type="text" class="inputBox" id="inputPacks">
            </td>
            <td>
              <img src="/static/img/packs.png" width="30px" height="30px">
            </td>
          </tr>
          <tr>
            <td class="resultHeader">Rare Wildcards</td>
            <td class="resultValue">
              <input type="text" class="inputBox" id="inputWildcards">
            </td>
            <td>
              <img src="/static/img/wildcard.png" width="30px" height="30px">
            </td>
          </tr>
          <tr>
            <td class="resultHeader">$$$</td>
            <td class="resultValue">
              <input type="text" class="inputBox" id="inputDollar" disabled>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row2">
      <p>
        Notes:
      </p>
      <p>1) Wildcard calculation does not take into account the chance that a rare/mythic wildcard can be found inside a pack. This is only a "worst case scenario"; expect real world values to be much lower.</p>
      <p>2) Dollar calculation assumes that you bought the 20,000 gem bundle, since that is the most cost efficient bundle in the store</p>
    </div>
    

  </div>

  <script src='/static/js/index.js'></script>
  
</body>
</html>
